<section class='container-fluid gradient-custom text-center h-custom'>
    <div class='row'>

        <div class='col-12 py-5' style='height: 24vh;'>
            <h1>{{'DASHBOARD.WELCOME' | translate}}</h1>
            <h1>{{userData.name}}</h1>
        </div>


        <div class='d-flex justify-content-center pt-5'>
            <div class='col-12 col-lg-8'>
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4 d-none d-sm-block d-md-none d-lg-block">
                            <img src="../../../../assets/img/pexels-nemuel-sereti-6424589.jpg"
                                class="img-fluid rounded-start" alt="me" style='height: 500px;'>
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <div class="card-body">
                                <!-- <h2 class="card-title">Nice to meet you</h2> -->
                                <p class="card-text fs-5 lh-lg shadow-lg rounded my-3 mx-2">
                                    {{'DASHBOARD.DESCRIPTION1' | translate}}
                                    <span class='fst-italic'> Luis Rodriguez</span>, {{'DASHBOARD.DESCRIPTION2' |
                                    translate}}<span class='fst-italic'>Front-End Developer (Junior
                                        Fullstack)</span> {{'DASHBOARD.DESCRIPTION3' | translate}}
                                    <a href="https://github.com/Hyrotsai/FrontEndE-Commerce" target='_blank'>Front</a>
                                    {{'DASHBOARD.CONECTOR' | translate}}
                                    <a href="https://github.com/Hyrotsai/BackEndE-Commerce" target='_blank'>Back</a>
                                </p>
                                <div class='d-flex align-items-end justify-content-center' style='height: 15vh;'>
                                    <a href="https://github.com/Hyrotsai" class='px-5'>
                                        <img src="../../../../assets/icons/github.svg" alt="Descripción del archivo SVG"
                                            width='40vh'>
                                    </a>
                                    <a href="https://www.linkedin.com/in/luisrodriguez55/">
                                        <img src="../../../../assets/icons/linkedin.svg"
                                            alt="Descripción del archivo SVG" width='40vh'>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <app-menu></app-menu>
</section>