/* You can add global styles to this file, and also import other style files */

body {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}

.menu-nav {
    top: 0px;
    left: 0px
}

.cart-top {
    top: 2vh;
    right: 2vh
}

.gradient-custom {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
}


@media (min-width: 768px) {
    .h-custom {
        height: 100vh !important;
    }
}